<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection">
        <th >{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td><i (click)="deleteList(item.id)" class="fa fa-trash" style="font-size:20px;color:red;"></i>
         <a routerLink="/update/{{item.id}}"><i class="fa fa-edit" style="font-size:20px;color:blue;"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
