<h2>Add Grocery Item</h2>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Your data has been entered sucessfully.
    <button  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <!-- <button (click) = "closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
  </div>
<form [formGroup]="addItemModel" (ngSubmit) = "collectGroceryItem()">
    <div class="mb-3">
        <label>Grocery Item Name</label>
        <input type="text" class="form-control" placeholder="name" formControlName="itemName">

    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
