<nav class="navbar navbar-expand-sm navbar-secondary bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink = "home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "add-item">Add Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "add-list">Add List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "grocerylist">Grocery List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "groceryitem">Grocery Item</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  