<h2>Add New Grocery List</h2>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Your data has been entered sucessfully.
    <button  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<form [formGroup]="addGroceryListModal" (ngSubmit) = "collectGrocery()">
    <div class="mb-3">
        <label>Grocery Name</label>
        <input type="text" class="form-control" placeholder="grocery name" formControlName="groceryName">

    </div>
    <div class="mb-3">
        <label>Price</label>
        <input type="text" class="form-control" placeholder="price" formControlName="price">

    </div>
    <div class="form-group">
        <label for="validationServer08" class="form-label">Item Name</label>
        <select formControlName="itemId" id="itemId" name="itemId" class="form-control">
            <option selected>Select Item Name</option>
            <option value="1">Food</option>
            <option value="2">Apple Product</option>
            <option value="3">Electronics</option>
            <option value="4">Clothing</option>
            <option value="5">Cosmetics</option>
        </select>
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

