<div>
    <!-- <label for="">Account No</label> -->
    <!-- <input type="text" name="account" [(ngModel)]="accountId" > -->
    <!-- <select id=accountNumber style="margin-right: 20px; margin-top: 10px;">
        <option *ngFor="let temp of client.accList" value={{temp.accountNumber}}>{{temp.accountNumber}}</option>
    </select> -->
    <div class="form-group">
        <label for="validationServer08" class="form-label">Item Name</label>
        <select formControlName="itemId" id="itemId" name="itemId" class="form-control">
            <option selected>Select Item Name</option>
            <option value="1">Food</option>
            <option value="2">Apple Product</option>
            <option value="3">Electronics</option>
            <option value="4">Clothing</option>
            <option value="5">Cosmetics</option>
        </select>
    </div>
    <br>
    <button (click)='submitRequest()' style="background-color: lightblue;">Submit</button>
</div>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection">
        <th >{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td><i (click)="deleteItem(item.id)" class="fa fa-trash" style="font-size:20px;color:red;"></i>
         <a routerLink="/update/{{item.id}}"><i class="fa fa-edit" style="font-size:20px;color:blue;"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
